

body {
    font-family:'Rubik', sans-serif;
    margin: 0;
    background-color: #215E9F;
}
header{
    color: white;
    height: 15%;
    width: 100%;
    display: flex;


}

.tituloHeader{
    color: #FFFFFF;
    font-size: 3.5vh;
    margin-top: 7.5%;
    margin-bottom: 2.5%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    padding-bottom: 5%;
}
.container-header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conteiner-calculadora{
    height: 85%;
    width: 100%;
    display: none;


}

.conteiner-calculadora.active{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.calculadora {
    height: 75%;
    width: 75%;
    padding: 16px ;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 55px);
    background-color: #1f1f1f;
    border-radius:  0px 0px 5px 5px;

}


button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #4C4C4C;
    color: white;
}
button.operador {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #4488F4;
    color: white;
}

button.special {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
}
button.special:hover {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #4C4C4C;
    color: white;
}




button:active {
    background-color: #343434;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    color: #4C4C4C;
    width: 75%;
    height: 25%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFFFFF;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    border-radius: 5px 5px 0px 0px;

}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}


#Cronometro{
    display: none;
    width: 100%;
    height: 85%;

}

#Cronometro.active{
    display: block;
    width: 100%;
    height: 85%;

}



.watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.outer {
    width: 95%;
    height: 35%;
    border-radius: 5px 5px 0px 0px;

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text{
    color: black;
    font-size: 30px;

}

.btns{
    border-radius: 0px 0px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 35%;
    background-color: #1f1f1f;


}

button.b {
    width: 20%;
    height: 35%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4C4C4C;
    color: white;
}

button.b.active {
    width: 20%;
    cursor: pointer;
    height: 35%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4488F4;
    color: white;
}



button:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}


.icono-menu{
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    background-color: #242323;
    position: relative;
    z-index: 10;
}

.icono-menu.active{
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    background-color: white;
    color: #1f1f1f;
    position: relative;
    z-index: 10;
}



.icono-menu img{
    margin-left: 16px;
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: #1f1f1f;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: all .5s ease;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilos por agregar en JavaScript */
.cont-menu.active{
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    width: 100%;
    padding: 100px 0px 20px 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-menu ul li{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh
}
.cont-menu ul li.active{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    color: #FFFFFF;
    background-color: #4488F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh
}

#titulo-app{
    color: #FFFFFF;
    font-size: 4vh;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-app.active{
    color: black;
    font-size: 4vh;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.moreinfo{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    text-decoration: none;
    color: black;
}

.moreinfo.active{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    background-color: #4488F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    text-decoration: none;
    color: #FFFFFF;
}


#conteiner-info.active{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteiner-info{
    display: none;
}


#conteiner-info .conteiner-titulo{
    width: 95%;
    height: 35%;
    border-radius: 5px 5px 0px 0px;
    font-size: 4.5vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#conteiner-info .conteiner-titulo img{
height: 75%;

}

#conteiner-info .conteiner-links{
    border-radius: 0px 0px 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 35%;
    background-color: #1f1f1f;
}

#conteiner-info .conteiner-links .row{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#conteiner-info .conteiner-links .row p{
    color: white;
    margin: 0%;
}

#conteiner-info .conteiner-links .row a{
    color: white;
    margin: 0%;
    cursor: pointer;
    text-decoration: none;
}
#conteiner-info .conteiner-links .row p.code{
    color: #4488F4;
    font-size: 3.75vh;
    margin: 0%;
    text-decoration: none;
}


#distancias{
    display: none;
}

#distancias.active{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    width: 100%;
    height: 85%;
}


#distancias .conteinerDistacias{
    width: 85%;
    padding: 2.5%;
    height: 50%;
    border-radius: 5px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#distancias .conteinerDistacias .column{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#distancias .conteinerDistacias .conteinerButton{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteinerDistacias select{
    width: 45%;
    font-family:'Rubik', sans-serif;
    border-radius: 5px;

    height: 50%;
}

.conteinerDistacias input{
    border-radius: 5px;
    width: 45%;
    height: 50%;
    margin: 0%;
    padding: 0%;
    border: none;
    text-align: center;

}

.conteinerDistacias #resultado{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 50%;
    background-color: #FFFFFF;
}

#converlogitud{
    font-family:'Rubik', sans-serif;
    width: 40%;
    height: 70%;
    border-radius: 5px;
    font-size: 110%;
}