

body {
    font-family:'Rubik', sans-serif;
    margin: 0;
    background-color: #215E9F;
}
header{
    color: white;
    height: 15%;
    width: 100%;
    display: flex;


}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    padding-bottom: 5%;
}
.container-header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.conteiner-calculadora{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.calculadora {
    height: 75%;
    width: 75%;
    padding: 16px ;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 55px);
    background-color: #1f1f1f;
    border-radius:  0px 0px 5px 5px;

}


button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #4C4C4C;
    color: white;
}
button.operador {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #4488F4;
    color: white;
}

button.special {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
}




button:active {
    background-color: #343434;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    color: #4C4C4C;
    width: 75%;
    height: 25%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #FFFFFF;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    border-radius: 5px 5px 0px 0px;

}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}


#Cronometro{
    display: none;
    width: 100%;
    height: 85%;

}

#Cronometro.active{
    display: block;
    width: 100%;
    height: 85%;

}



.watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.outer {
    width: 95%;
    height: 35%;
    border-radius: 5px 5px 0px 0px;

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text{
    color: black;
    font-size: 30px;

}

.btns{
    border-radius: 0px 0px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 35%;
    background-color: #1f1f1f;


}

button.b {
    width: 20%;
    height: 35%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4C4C4C;
    color: white;
}

button.b.active {
    width: 20%;
    cursor: pointer;
    height: 35%;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #4488F4;
    color: white;
}



button:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}


.icono-menu{
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    background-color: #242323;
    position: relative;
    z-index: 10;
}

.icono-menu.active{
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    background-color: white;
    color: #1f1f1f;
    position: relative;
    z-index: 10;
}



.icono-menu img{
    margin-left: 16px;
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: #1f1f1f;
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

/* Estilos por agregar en JavaScript */
.cont-menu.active{
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-menu ul li{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh
}
.cont-menu ul li.active{
    cursor: pointer;
    width: 90%;
    height: 8vh;
    color: #FFFFFF;
    background-color: #4488F4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh
}

#titulo-app{
    color: #FFFFFF;
    font-size: 4vh;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo-app.active{
    color: black;
    font-size: 4vh;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


